<div class="progress-box" *ngIf="isProgress$">
  <mat-spinner class="progress-spinner"></mat-spinner>
</div>

<mat-toolbar color="#FFFFFF">
  <mat-toolbar-row>
    <button mat-icon-button (click)="drawer.toggle()" *ngIf="bLoggedIn == true">
      <mat-icon >menu</mat-icon>
    </button>
    <img class="toolbar-logo" src="{{logoImage$}}"/>
    <span class="toolbar-spacer"> </span>
    <button class="d-none" mat-icon-button [matTooltip]="'Settings'" (click)="showSettings()">    
      <mat-icon>settings</mat-icon>
    </button>
    <button class="d-none" mat-button>{{version}}</button>
    <button mat-button [matMenuTriggerFor]="userMenu" *ngIf="bLoggedIn == true">{{userName$}}
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu" overlapTrigger="false">
      <button mat-menu-item (click)=logOff()>Log off</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="example-container" hasBackdrop="false">
  <mat-drawer #drawer side class="left-nav">
      <!-- dummy button, so first button isn't highlighted, this will be hidden-->
      <button style="position:absolute; height: 0px;" mat-button></button>
      <!-- end dummy-->
          <app-createcaselist (click)="drawer.close()" ></app-createcaselist>
          <mat-list>
            <mat-divider></mat-divider>
            <mat-list-item>
              <button mat-menu-item (click)="drawer.close();getNextWork()">Get Next Work</button>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="top-item"><mat-icon>history</mat-icon> Recents</mat-list-item>
            <app-recentlist (click)="drawer.close()"></app-recentlist>
            <mat-divider></mat-divider>
          </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <app-maintabs *ngIf="bLoggedIn == true"></app-maintabs>
  </mat-drawer-content>
</mat-drawer-container>
<app-login class="login" *ngIf="bLoggedIn == false"></app-login>

